/1-s2.0-S240589632032454X-main.pdf
references/*
*.DS_Store
*.asv
*.mat
src/images/*
untitled.m
*.fls
*.gz
*.aux
*.fdb_latexmk
*.log
src/code_for_report/test_table.pdf
Report/Revision_1.pdf
Report/Revision_2.pdf
Report/images/*.pdf
note.md
Report/Revision_3.pdf
Report/main.out
Figures/rectangular_chute.png
Figures/round_chute.png
